body{
	background-color: #d1d1d1;
	padding: 0px;
	margin: 0px;
}
header{
	width: 100%;
	height: 100px;
	background-color: #eeeeee;
	text-transform: uppercase;
	box-shadow: 0px 25px 5px #b3b3b3;
}
header span{
	font-size: 65px;
	margin-left: 20px;
	margin-top: 10px;
	color: #16FF11;
	font-family: Arial;
	float: left;
}
header label{
	margin-top: 25px;
	font-size: 20px;
}
#start_saper{
	margin-top: 35px;
	/* font-size: 20px; */
	height: 50px; 
	width: 50px;
	background-image: url("minesweeper_icon.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.container{
	display: flex;
	justify-content: space-around;
}
main{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100%;
}
/* #saper_otoczka{
	margin-top: 40px; 
	z-index: 2;
	width: 650px;
	height: 650px;
	background-color: white;
	border: solid 30px #00ff00;
}  */
#main_saper{
	margin-top: 40px; 
	width: 650px;
	height: 650px;
	z-index: 3;
	background-color: white;
	border: solid 30px #00ff00;
	overflow: auto;
}
#main_saper tr{
	border: 1px red solid;
}
#main_saper td{
	width: 21px;
	height: 21px;
	background-color: grey;
	border: 1px black solid;
}
.odwiedzone{
	background-color: #fff !important;
}