body{
	background-color: #d1d1d1;
	padding: 0px;
	margin: 0px;
}
header{
	width: 100%;
	height: 100px;
	background-color: #eeeeee;
	text-transform: uppercase;
}
header span{
	font-size: 65px;
	margin: 20px;
	color: #72ec1c;
	font-family: Arial;
	float: left;
}
header label{
	margin-top: 25px;
	font-size: 20px;
}
#start_saper{
	margin-top: 35px;
	font-size: 20px;
	height: 30px;
}
.container{
	display: flex;
	justify-content: space-around;
}
main{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 85vh;
	border: solid 1px red;
}
#main_saper{
	margin-top: 20px; 
	z-index: 2;
	width: 70%;
	height: 70%;
	background-color: #eeeeee;
	border: solid 1px black;
} 
#main_saper table, #main_saper td, #main_saper tr {
	margin: 20px;
	border: black 1px solid;
	border-collapse: collapse;
}
#main_saper table td{
	width: 11px;
	height: 11px;
	background-color: grey;
}

